@use 'resources/index' as *;

.textarea {
  max-width: 100%;
  display: -webkit-box;
  font-family: monospace;
  text-overflow: ellipsis;
  background-color: $bg-white-color;
  padding: 0 7px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
